.noteList {
    position: relative;
    display: inline-block;

    left: 35px;
    top: 131px;
    width: 319px;
    background: rgba(253, 252, 252, 0.82);
    border-radius: 15px;
    margin-left: 5px;
    margin-top: 20px;
}

.text1 {
    top: 50px;
    padding-left: 20px;
    display:flex;
}



.edit {
    position: relative;
    width: 113px;
    height: 32px;
    left: 16px;
    top: 10px;

    background: #3523A9;
    border-radius: 10px;
    border: none;
    color:whitesmoke;
}
