.editNote {
    position: absolute;
    width: 610px;
    height: 163px;
    left: 371px;
    top: 257px;
    border-radius: 15px;
    background-color: rgba(253, 252, 252, 0.82);

}

.saveChanges {
    position: absolute;
    width: 152px;
    height: 32px;
    left: 422px;
    top: 128px;

    background: #3523A9;
    border-radius: 10px;
    border: none;
    color: whitesmoke;

}

.close {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 575px;
    top: 128px;

    background: #3523A9;
    border-radius: 10px;
    border: none;
    color: whitesmoke;
}

.input {
    width: 605px;
    height: 63px;
    left: 371px;
    top: 257px;

    background-color: rgba(253, 252, 252, 0.82);
    /* opacity:0.2; */
    border-radius: 15px;
    border: none;
}