.header {
    position: absolute;
    height: 44px;

}

.createNote {
    position: absolute;
    width: 215px;
    height: 44px;
    left: 35px;
    top: 34px;
    
    background: #3523A9;
    border-radius: 15px;
    border:none;
}